<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<main>
	<div class="container" style="margin: 1em auto 1em auto">
		<!-- THE REST OF YOUR HTML CODE GOES HERE -->
		<%- include ('../partials/message') %>

		<h1><u>Discover:</u></h1>
		<br />
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col">
				<div class="card">
					<img
						src="arts_science.png"
						class="card-img-top"
						alt="..."
						style="height: 350px" />
					<div class="card-body">
						<div class="text-center">
							<h5 class="card-title">Arts & Sciences</h5>
							<p class="card-text">
								Arts and Sciences require creativity, critical thinking, and
								problem-solving skills, and can contribute to a well-rounded
								education and a deeper understanding of the world.
							</p>
							<input type="submit" value="Learn More" class="btn btn-primary" />
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="business.png" class="card-img-top" alt="..." style="height: 350px" />
					<div class="card-body">
						<div class="text-center">
							<h5 class="card-title">Business</h5>
							<p class="card-text">
								Successful businesses are often characterized by effective
								leadership, strong management, and the ability to adapt to changing
								market conditions and customer needs.
							</p>
							<input type="submit" value="Learn More" class="btn btn-primary" />
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img
						src="engineering_science.png"
						class="card-img-top"
						alt="..."
						style="height: 350px" />
					<div class="card-body">
						<div class="text-center">
							<h5 class="card-title">Engineering & Applied Science</h5>
							<p class="card-text">
								Design, development, and implementation of systems, structures,
								machines, and processes that address practical problems in various
								industries shaping society, improving quality of life, and driving
								innovation and progress in various industries..
							</p>
							<input type="submit" value="Learn More" class="btn btn-primary" />
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img
						src="communication.png"
						class="card-img-top"
						alt="..."
						style="height: 350px" />
					<div class="card-body">
						<div class="text-center">
							<h5 class="card-title">Communication</h5>
							<p class="card-text">
								The exchange of information, ideas, thoughts, and feelings between
								individuals or groups. It is a fundamental aspect of human
								interaction and is essential for building relationships, sharing
								knowledge, and achieving common goals.
							</p>
							<input type="submit" value="Learn More" class="btn btn-primary" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include ('../partials/footer') %>
