<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container" style="margin-top: 1em">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <%- include  ('../partials/message') %>

    <h1>Register</h1>
    <form action="/register" method="POST">
      <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control"/>
      </div>
      <div class="mb-3">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" class="form-control" />
      </div>
      <p style="float:left">Already have an account? <a href="/login">Login</a></p>
      <button style="float:right" type="submit" value="Login" class="btn btn-primary">Register</button>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>