<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <%- include  ('../partials/message') %>
        SEARCH PAGE HERE
  </div>
</main>

<%- include ('../partials/footer') %>