<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <%- include  ('../partials/message') %>

        <div class="container">
          <div class="box">
            <form id="pick-form">
              <div class="field">
                <div class="control">
                  <button class="button" type="button" id="picker">Pick file</button>
                  <input type="hidden" id="fileupload">
                </div>
                <div class="control" id="nameBox"></div>
                <div class="control" id="urlBox"></div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="button" type="submit" value="Submit">
                </div>
              </div>
            </form>
          </div>  
          <div>

            </div>
          <table width="100%">
            <style>
                table{border: 1px solid black;}
            </style>
            <table border = "1">
            <tr>

            </tr>
            <thread>
            <tbody>
                <tr>
                  <td>
                    <!-- <a href="a">Choose file</a> -->
                    <!-- <script> 
                    const client = filestack.init(API_KEY);
                    client.picker().open();
                    </script> -->
                    
                    <!-- <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script> -->
                    <button>Upload Here</button>
                  </td>
                  <td>
                    <div class="drop-container">Drag and Drop</div>
                  </td>
                  </tr>
            </tbody>
            </thread>
            
          </table>
        </div>
  </div>

</main>

<%- include ('../partials/footer') %>