<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
<script>
const widget = uploadcare.SingleWidget("[role=uploadcare-uploader]");

// listen to the "upload completed" event
widget.onUploadComplete(fileInfo => {
  // get a CDN URL from the file info
  console.log(fileInfo.cdnUrl);
});
</script>



<main>
  <div class="container" style="margin-top: 1em">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <%- include  ('../partials/message') %>
      <h1><u>Upload:</u></h1>
      <br>
      <form action="/uploadFile" method="POST">

        <div class="mb-3 form-group">
          <label for="fileName" class="form-label"> File Name: </label>
          <input type="text" id="fileName" name="fileName" class="form-control" />
        </div>

        <input
        type="hidden"
        role="uploadcare-uploader"
        data-public-key="2e0c82a8db25f4a52e43"
        data-tabs="file url gdrive gphotos"
        id="fileUrl"
        name="fileUrl"
        class="form-control"
        />
        <div class="mb-3 form-group">
          <br>
          <label for="subject" class="form-label"> Subject: </label>
          <select class="form-select" id="subject" name="subject">
            <option value="1">Arts & Sciences</option>
            <option value="2">Business</option>
            <option value="3">Engineering & Applied Science</option>
            <option value="4">Communication</option>
          </select>
        </div>
  

        <div class="mb-3 form-group">
          <label for="sort-by" class="form-label" style="margin-right: 1em"> Tags: </label>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              id="lectureNotes"
              name="tags[]" />
            <label class="form-check-label" for="lectureNotes"> Lecture Notes </label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="2"
              id="articles"
              name="tags[]" />
            <label class="form-check-label" for="articles"> Articles </label>
          </div>

          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              value="3"
              id="practiceTests"
              name="tags[]" />
            <label class="form-check-label" for="practiceTests"> Practice Tests </label>
          </div>
        </div>
  
        <input type="submit" value="Upload" class="btn btn-primary" style="margin-top: 0.5em" />
      </form>


<!-- 
        <div class="container">
          <div class="box">
            <form id="pick-form">
              <div class="field">
                <div class="control">
                  <input type="file" id="fileupload" accept="image/*" name="fileupload">
                  <button class="button" type="button" id="picker">Pick file</button>
                </div>
                <div class="control" id="nameBox"></div>
                <div class="control" id="urlBox"></div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="button" type="submit" value="Submit">
                </div>
              </div>
            </form>
          </div>  
          <div>

            </div>
        </div>
  </div>
  <script>
    const options = {
      onUploadDone: updateForm,
      maxSize: 10 * 1024 * 1024,
      accept: 'image/*',
      uploadInBackground: false,
    };

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    // Add event listeners

    btn.addEventListener('click', function (e) {
      e.preventDefault();
      picker.open();
    });

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      alert('Submitting: ' + fileInput.value);
    });

    // Helper to overwrite the field input value

    function updateForm (result) {
      const fileData = result.filesUploaded[0];
      fileInput.value = fileData.url;
      
      // DOM code to show some data. 
      const name = document.createTextNode('Selected: ' + fileData.filename);
      const url = document.createElement('a');
      url.href = fileData.url;
      url.appendChild(document.createTextNode(fileData.url));
      nameBox.appendChild(name);
      urlBox.appendChild(document.createTextNode('Uploaded to: '));
      urlBox.appendChild(url);
    };
  </script> -->
</main>

<%- include ('../partials/stickyfooter') %>