<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <%- include  ('../partials/message') %>

        <div class="container">
          <div>
            
            </div>
          <table width="100%">
            <style>
                table{border: 1px solid black;}
            </style>
            <table border = "1">
            <tr>
            <th >Upload Here</th>
            </tr>
            <thread>
            <tbody>
                <tr>
                  <td>
                    <a href="a">Choose file</a>
                  </td>
                  </tr>
            </tbody>
            </thread>
            
          </table>
        </div>
  </div>
</main>

<%- include ('../partials/footer') %>